body{
    margin: 0;
}

#pageTitle{
    text-align: center;
    text-transform: uppercase;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}

.colorSection{
    width: 140px;
    margin: 0;
}

.colorChip{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
}

.colorCode{
    text-align: center;
    font-weight: bold;
    margin: 3px auto;
}